[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[merge]
	tool = vimdiff
[push]
	default = current
	recurseSubmodules = check
[mergetool]
	keepBackup = false
[pretty]
	compact = %m %C(yellow)%h %C(cyan)%an %C(green)%ar%n%x09%C(reset)%s
[format]
	pretty = compact
[alias]
	l = !git --no-pager log origin/master...HEAD
	left = !git --no-pager log master...HEAD --left-only
	right = !git --no-pager log master...HEAD --right-only
	master = checkout master
	develop = checkout develop
	diffc = diff --cached
	diffm = diff --diff-filter=ad
	diffcm = diff --cached --diff-filter=ad
	delta = diff --color-moved --color-moved-ws=allow-indentation-change
	deltas = diff --color-moved --color-moved-ws=allow-indentation-change
	deltan = diff --color-moved --color-moved-ws=allow-indentation-change
	spull = "!__git_spull() { git pull \"$@\" && git submodule sync --recursive && git submodule update --init --recursive; }; __git_spull"
	please = push --force-with-lease
[pager]
	delta = delta
	deltas = delta -s
	deltan = delta -n
[diff]
	wsErrorHighlight = all
	submodule = log
	tool = meld
	#colorMoved = default
	#colorMovedWS = allow-indentation-change

[difftool]
	prompt = false

[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[user]
	email = {{ .email | quote }}
	name = Michael Limiero
[init]
	defaultBranch = main
	templateDir = /home/michael/.config/git/template
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff "zip"]
	textconv = unzip -c -a $1 -x *.zip
# [core]
#     pager = delta
# 
# [interactive]
#     diffFilter = delta --color-only
# [add.interactive]
#     useBuiltin = false # required for git 2.37.0
# 
# [delta]
#     navigate = true    # use n and N to move between diff sections
#     light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
# 
# [merge]
#     conflictstyle = diff3
# 
# [diff]
#     colorMoved = default
[protocol "file"]
	allow = always
[status]
	submoduleSummary = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[rerere]
	enabled = true
