@import 'default-style.css';

#custom-clock {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}
#custom-clock {
    background-color: #64727D;
}

#custom-weather {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}
#custom-weather {
    background-color: #64727D;
}
tooltip label {
    font-family: monospace;
}
#workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#tags button {
    padding: 0;
    color: rgba(255,255,255,0.3);
}
#tags button.occupied {
    color: rgba(255,255,255,1);
}
#tags button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#custom-notification {
    padding: 0 10px;
    margin: 0 4px;
    background-color: #64727D;
    color: #ffffff;
    font-family: "Symbols Nerd Font";
}
